.InstagramMedia {
  position: relative;
}

.InstagramMedia span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #262626;
  text-shadow: 0 0 4px #FFFFFF;
}

.InstagramMedia img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
  filter: blur(20px);
}

.InstagramMedia .aura {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-animation:spin 60s linear infinite;
  -moz-animation:spin 60s linear infinite;
  animation:spin 60s linear infinite;
  filter: blur(1px);
}

.InstagramMedia .hidden {
  display: none;
}
