.InstagramAccess {
  background-color: #262626;
  border-radius: 6px;
  font-size: 18px;
  height: 64px;
  width: 282px;
  margin: auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.InstagramAccess span {
  color: #FFFFFF;
}

.InstagramAccess img {
  height: 42px;
}
