.InstagramFilter, .InstagramFilter * {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  margin: 0 8px 8px;
}

.InstagramFilter input[type="date"] {
  width: 130px;
}

.InstagramAura {
  position: relative;
  display: flex;
  flex-direction: column;
}

.InstagramAura span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #262626;
  text-shadow: 0 0 4px #FFFFFF;
}

.InstagramAura img {
  margin: 20px;
  width: 340px;
  height: 340px;
  object-fit: cover;
  border-radius: 50%;
  animation:spin 3s linear infinite;
  filter: blur(30px);
}

.InstagramAura .aura {
  margin: 10px;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  animation:spin 60s linear infinite;
}

.InstagramAura .hidden {
  display: none;
}
