.InstagramAccess {
  color: #FFFFFF;
  background-color: #262626;
  border-radius: 6px;
  font-size: 20px;
  height: 64px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 22px;
  padding: 0 14px;
}

.InstagramAccess img {
  height: 42px;
  margin-right: 12px;
}
