.InstagramAccess {
  background-color: #262626;
  border-radius: 6px;
  font-size: 18px;
  height: 64px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 107px;
}

.InstagramAccess span {
  color: #FFFFFF;
}

.InstagramAccess img {
  height: 42px;
}
